<%= render "common/avatar", { username: game.opponent.username } %>
<div class="content">
  <div class="header">
    <%= game.opponent.facebook_name || game.opponent.username %>
  </div>
  Expires in <%= time_ago_in_words game.expiration_date %>
</div>