$font-url: '//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
@import "semantic-ui";

body {
    background-image: image-url("background.png");
    background-repeat: repeat;
    background-color: #dadada;
    padding-top: 25px;
}
